            <div id="messageDialog"></div>
            <form action="{$action}"  method="post" enctype="multipart/form-data" name="settingsform" id="settingsform">
                <h3>{$smarty.const.STR_CHANGE_PASSWORD}</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>&nbsp;<input type="hidden" value="true" name="submitok"></td>
                            <td valign="top" id="cell_username">{$smarty.const.STR_USERNAME}</td>
                            <td valign="top">
                                &nbsp;{$username}
                            </td>
                            <td></td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td valign="top" id="cell_contact_name">{$smarty.const.STR_FULLNAME}</td>
                            <td valign="top">
                                &nbsp;{$contact_name}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td valign="top" id="cell_email_address">{$smarty.const.STR_EMAILADDRESS}</td>
                            <td  valign="top">
                                &nbsp;{$email_address}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td valign="top" class="cellenabled" id="cell_pwold">{$smarty.const.STR_CURRENT_PASSWORD}
                            </td>
                            <td valign="top">
                                <input type="password" tabindex="1" size="25" required value="" id="pwold" name="pwold" class="input-large" >
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td valign="top" class="cellenabled" id="cell_pw">{$smarty.const.STR_NEW_PASSWORD}
                            </td>
                            <td valign="top">
                                <input type="password" tabindex="2" size="25" required value="" id="pw" name="pw" class="input-large" >
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td valign="top" class="cellenabled" id="cell_pw2">{$smarty.const.STR_REENTER_PASSWORD}
                            </td>
                            <td valign="top">
                                <input type="password" tabindex="3" size="25" required value="" id="pw2" name="pw2" class="input-large" >
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" tabindex="4" value="Save Changes" name="submitsettings"></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                    </table>
                    
            </form>
<script type="text/javascript">
    {if $aErrormessage}
            wanrMessage('{$aErrormessage}');
    {else}
        //clearMessage();
    {/if}
</script>