{include file="grid-wrapper.inc.html"}
<script  type="text/javascript">
MGMT{$variable_el}.prototype = new GridBase();

function MGMT{$variable_el}(aInfo){
    
    this.constructor(aInfo);
    this.grid;
    var thisClass = this;
    this.hideMid = ['zone','country'];
    this.hideLarge = ['state'];
    this.objCountry = {};
    var formId = "#frm{$variable_el}";
    var rule = {
            txt_name:{
                required: true,
            },
            txt_zipcode:{
                required: true,
            },
            select_state_id:{
                required: true,
            },
            select_country:{
                required: true,
            },
        };

    this.dataSearch = function()
    {
        var keyword = $(".search-query").val();
        var country_ids = checkboxChecked("input[name='multiselect_filter_country{$variable_el}']:checked");
        var state_ids = checkboxChecked("input[name='multiselect_filter_state{$variable_el}']:checked");
        var oData = { q:aInfo.classname,
            oper:"search",
            keyword:keyword,
            country_ids:country_ids,
            state_ids:state_ids
        };
        jQuery.extend(oData, this.optSearch);
        //$(aInfo.grd).setPostData(oData);
        $(aInfo.grd).jqGrid('setGridParam',{ postData: null });
        $(aInfo.grd).jqGrid('setGridParam',{ postData:oData })
        //clear param
        $(aInfo.grd).jqGrid().setGridParam({ url : 'processajax.php?q=' + aInfo.classname +'&nd='+new Date().getTime()+'&fileclass='+ aInfo.fileclass })
    }

    this.saveData = function()
    {
                var url = $(aInfo.grd).getGridParam('url');

                var pk_id = this.hdnID;
                var objTxt = this.getTxt();
                var objChk = this.getChk();
                var objSel = this.getSelect();
                var oper;


                if($.trim(pk_id)!=''){
                    oper = 'edit';
                }else{
                    oper = 'add';
                }

                var o_data = { oper : oper, pk_id : pk_id};

                //$("#pnlAddEdit").block(blockStyleCSS);
                jQuery.extend(o_data, objTxt, objChk, objSel);

                $.ajax({
                                type: "POST",
                                url: url,
                                dataType: "json",
                                //async: false,
                                data:o_data,
                                success: function(data)
                                {
                                    thisClass.hdnID = data.id;
                                    thisClass.clearBlock(oper,data.error);
                                    thisClass.gridReload();
                                    $('#pnlAddEdit').css('position', 'static');
                                },
                                error: function(response) {
                                    thisClass.hdnID = '';
                                    //$('#pnlAddEdit').unblock();
                                    $('#pnlAddEdit').pnlAddEdit("close");
                                    if(isExpire(response.responseText)) return;
                                }
                });

                return true;
            //}else return false
    }
    
    this.excuteFN = function(ids){
        $(aInfo.grd).jqGrid('setGridParam',{ postData:{ 'oper':'del', 'ids':ids } });
        $(aInfo.grd).trigger("reloadGrid");
    }
    
    this.jqGrid = function(){
            thisClass.grid = jQuery(aInfo.grd).jqGrid({
                url: this.setGrdParam(),
                datatype: 'json',
                colNames: aInfo.colN,
                colModel: aInfo.colM,
                rowNum:60,
                rowList:[20,40,60],
                pager: jQuery(aInfo.pgrd),
                sortname: aInfo.initSortName,
                viewrecords: true,
                sortorder: "asc",
                caption: aInfo.g_caption,
                editurl: this.setGrdParam(),
                width:$('.pnlContainer').width(),
                height:'auto',
                rownumbers: true,
                multiboxonly: true,
                hoverrows:false,
                loadBeforeSend: function(xhr){
                    thisClass.setInputSize();
                },
                loadError : function(res,st,err) {
                    if(isExpire(res.responseText)) return;
                    thisClass.initialControl();
                },
                loadComplete : function(res) {

                    if($(aInfo.grd).getGridParam('records')>0){
                            var totals = $(aInfo.grd).getGridParam('records');
                            var rowPerPage = $(aInfo.grd).getGridParam('rowNum');
                            var page = $(aInfo.grd).getGridParam("page");
                            if(totals > (rowPerPage*page)){
                                $(aInfo.grd).setGridHeight('auto');
                            }
                            else {
                                if(totals - (rowPerPage*(page-1) ) > 0){
                                    $(aInfo.grd).setGridHeight('auto');
                                }
                                else
                                 	$(aInfo.grd).setGridHeight('auto');
                            }
                    }
                    else
                    {
                        //$(aInfo.grd).setGridHeight(150);
                         $(aInfo.grd).setGridHeight('auto');
                    }
                    
                  thisClass.setButtonUI('.btnAction');
                    $('.activestatus').addClass('ui-corner-all');
                    $('.activestatus').addClass('ui-state-hover');
                    $('.activestatus').css('background', 'none');
                    $('.activestatus').css('border', 'none');
                    $('.activestatus').css('cursor', 'pointer');
                   thisClass.initialControl();
                   return;
                },
                ondblClickRow:function(id){
                    thisClass.editAction(id);
                },
                afterInsertRow: function(rowid, rowdata){
                    $('#btnEdit{$variable_el}'+rowid).click(function(){
                        thisClass.editAction(rowid);
                    });
                    
                    $('#btnActive{$variable_el}'+rowid).click(function(){
                        thisClass.editStatus('is_active', rowid);
                    });
                    
                    $('#btnDelete{$variable_el}'+rowid).click(function(){
                        thisClass.editStatus('is_delete', rowid);
                    });
                }
            });
    }

    this.editAction = function(id){
        if(this.isDetail==false){
            var ret = $(aInfo.grd).getRowData(id);
            this.popContainAddEdit('edit', id, ret.group_name);
        }else{
            window.location.href = aInfo.classname.replace(/_/g,'-').toLowerCase() + '?editID='+id;
        }
    }
    
    
    this.popContainAddEdit = function (oper, pk_id, title){
    	this.blockUI();
        this.closePnlGrid('pnlGrid{$variable_el}');
        this.hdnID = '';

        if(title==undefined)
            title = '';
		
        this.clearChk();
        this.clearTxt();
        
        if(oper=='edit'){
            this.hdnID = pk_id;

        }else{

        }
        thisClass.resetValidatForm(formId);
        this.loadData();

        $('.noBreadcrumb .label').text(this.breadCrumbLabel + ' - ' + title);
    }

    this.loadData = function(){
        var url = $(aInfo.grd).getGridParam('url');
        $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    data:{ pk_id:thisClass.hdnID, oper:'loadData' },
                    success: function(data){
                        thisClass.bindTxt(data);
                        thisClass.bindChk(data);
                        thisClass.bindSelect(data);
						
                        thisClass.loadStateCountry(data.state_id);

                        $("#select_country_id").multiselect('refresh');
                        thisClass.unblockUI();
                    },
                    error: function(response) {
                            if(isExpire(response.responseText)) return;
                    }
            });
    }
    
    this.loadStateCountry = function(state){
    	var url = $(aInfo.grd).getGridParam('url');
    	var option = '';
    	$.getJSON(
			url,
			{ oper : 'loadStateCountry',
				state : state },
			function(result){
				$("#select_state_id option").remove();
				if(result !== null){
					$.each(result.rows, function(ini, val){
						option += '<option value="'+val.id+'">'+val.name+'</option>';
					});
			        $("#select_country").val(result.country);
				}
				$("#select_state_id").append(option);
				
		        $("#select_state_id").multiselect(
		        {
		            multiple: false,
		            noneSelectedText: 'Select State',
		            selectedList: 1
		        }).multiselectfilter();

		        $("#select_country").multiselect('refresh');
				$("#select_state_id").val(state);
				$("#select_state_id").multiselect('refresh');
				
		});
    }
    
    this.getSelectCountry = function(){
		var url = $(aInfo.grd).getGridParam('url');
		var option = '';
        $.ajax({
        		type: "POST",
                url: url,
                dataType: "json",
                async: false,
                data:{ oper : 'getSelectCountry' },
                success: function(result){
                	thisClass.objCountry = result;
                }
             });
    }
    
    this.setSelectCountry = function(id, multiple, selectedList, callbackFunction){
		var option = '';
		var result = thisClass.objCountry;
		$.each(result.rows, function(ini, val){
			option += '<option value="'+val.id+'">'+val.name+'</option>';
		});
		$(id).append(option);
		
        $(id).multiselect(
        {
            multiple: multiple,
            noneSelectedText: 'Select Country',
            selectedList: selectedList,
        	create: function(){
            	if(multiple){
            		$(id).next().css('width', '');
            		$(id).next().addClass('span12');
            	}
            },
           	close: function(){
           		if(callbackFunction != undefined){
		      		callbackFunction();
		      	}
		   	}
        }).multiselectfilter();
        $(id).multiselect("uncheckAll");
    }
    
    this.getSelectState = function(id, multiple, selectedList, callbackFunction, countryid){
		var url = $(aInfo.grd).getGridParam('url');
		var option = '';
		$.getJSON(
			url,
			{ oper : 'getSelectState',
			countryid : countryid },
			function(result){
				if(result != null){
					$.each(result.rows, function(ini, val){
						option += '<option value="'+val.id+'">'+val.name+'</option>';
					});
					$(id).append(option);
				}
		        $(id).multiselect(
		        {
		            multiple: multiple,
		            noneSelectedText: 'Select State',
		            selectedList: selectedList,
                    create: function(){
			        	if(multiple){
			        		$(id).next().css('width', '');
			        		$(id).next().addClass('span12');
			        	}
			        },
	               	close: function(){
	               		if(callbackFunction != undefined){
				      		callbackFunction();
				      	}
				   	}
		        }).multiselectfilter();
		        $(id).multiselect("uncheckAll");
		});
    }

	this.gridFilterCountry = function(){
		$(".search-query").val('');
		$("#filter_state{$variable_el} option").remove();
		var country_ids = checkboxChecked("input[name='multiselect_filter_country{$variable_el}']:checked");
		thisClass.getSelectState("#filter_state{$variable_el}", true,3, thisClass.gridFilterState, country_ids);
		thisClass.dataSearch();
        $(aInfo.grd).setGridParam({ page:1 });
        $(aInfo.grd).setGridParam({ datatype:'json'});
        $(aInfo.grd).trigger("reloadGrid");
	}
	
	this.gridFilterState = function(){
		$(".search-query").val('');
		thisClass.dataSearch();
        $(aInfo.grd).setGridParam({ page:1 });
        $(aInfo.grd).setGridParam({ datatype:'json'});
        $(aInfo.grd).trigger("reloadGrid");
	}
	
	this.getSelectStateLoad = function(){
		var country = [$("#select_country").val()];
		$("#select_state_id option").remove();
		thisClass.getSelectState("#select_state_id", false,1, null , country);
	}
	
    this.initEvent = function(){
        $("#btnClose{$variable_el}").click(function(){ 
        	thisClass.openPnlGrid('pnlGrid{$variable_el}'); 
        });
        $("#btnSave{$variable_el}").click(function() { 
            thisClass.initValidateFormEvent(formId);
            if (thisClass.submitForm){
        		thisClass.saveData();
    		} 
    	});
        $("#btnSaveBack{$variable_el}").click(function() {
            thisClass.initValidateFormEvent(formId);
            if (thisClass.submitForm){
                if (thisClass.saveData()){
                    thisClass.openPnlGrid('pnlGrid{$variable_el}');
                    thisClass.submitForm = false;
                }
            }
        });

        $('#btnDelete{$variable_el}').click(function(){
            var ids = jQuery(aInfo.grd).getGridParam('selarrrow');
            if(ids.length == 0){
                showMessage('{$smarty.const.MSG_NOT_SELECT}', true);
                return;
            }
            thisClass.confirmDlg(msg_delconfirm, msg_delcaption, ids);
        });
        

        $('#btnAdd{$variable_el}').click(function(){
            if(thisClass.isDetail==false){
                thisClass.popContainAddEdit('add');
                $('#masterDetail').hide();
            }else{
                window.location.href = aInfo.classname.toLowerCase() + '?editID=';
            }
        });

		//$('.search-query[name="{$variable_el}"]').keyup(function(){ thisClass.gridReload(); });
		$('.navbar-search[name="{$variable_el}"]').submit(function(){ thisClass.gridReload(); return false; });
		
        this.setButtonUI('.btndiv');
        thisClass.jqGrid();
        thisClass.initValidateForm(formId, rule);
		thisClass.getSelectCountry();
		thisClass.setSelectCountry("#filter_country{$variable_el}", true,3, thisClass.gridFilterCountry );
		thisClass.getSelectState("#filter_state{$variable_el}", true,3, thisClass.gridFilterState );
		thisClass.setSelectCountry("#select_country", false, 1, thisClass.getSelectStateLoad);
        $(window).resize(this.fitTable);
        this.fitTable();
    }
	/*
    $.ajaxSetup({
       async: false
    });
    */

    thisClass.initEvent();
}

var grd{$variable_el}
jQuery(document).ready(function(){

    grd{$variable_el} = new MGMT{$variable_el}({$aInfo});

    
});
</script>
