{include file="grid-wrapper.inc.html"}
<script  type="text/javascript">
MGMT{$variable_el}.prototype = new GridBase();

function MGMT{$variable_el}(aInfo){

    this.constructor(aInfo);
    this.grid;
    var thisClass = this;
    this.hideMid = [];
    this.hideLarge = [];
    this.objProductOrder = [];
    this.objProductAdd = [];
    var formId = "#frm{$variable_el}";
    var rule = {
          txt_firstname:{
            required: true,
          },
          txt_fax:{
            required: false,
            number: true,
            rangelength: [4, 20]
          },
          txt_zipcode:{
            required: false,
            number: true
          },
          txt_telephone:{
            required: false,
            number: true,
            rangelength: [4, 20]
          },
          txt_mobile:{
            required: true,
            number: true,
            rangelength: [4, 20]
          },
          txt_email: {
            required: true,
            email: true,
          },
          txt_shipprice:{
            required: true
          }
        };


    this.dataSearch = function()
    {
        var keyword = $(".search-query").val();
        var period_start = $("#period_start").val();
        var period_end = $("#period_end").val();
        var oData = { q:aInfo.classname,
            oper:"search",
            period_start: period_start,
            period_end: period_end,
            //keyword: keyword
        };
        jQuery.extend(oData, this.optSearch);
        //$(aInfo.grd).setPostData(oData);
        $(aInfo.grd).jqGrid('setGridParam',{ postData: null });
        $(aInfo.grd).jqGrid('setGridParam',{ postData:oData })
        //clear param
        //$(aInfo.grd).jqGrid().setGridParam({ url : 'processajax.php?q=' + aInfo.classname +'&nd='+new Date().getTime()+'&fileclass='+ aInfo.fileclass })
    }

    this.saveData = function()
    {
                var url = $(aInfo.grd).getGridParam('url');

                var pk_id = this.hdnID;
                var objTxt = this.getTxt();
                var objChk = this.getChk();
                var objSel = this.getSelect();
                var oper;
                var shipType = $("#select_shipType").multiselect("getChecked").map(function(){ return this.value; }).get();

                if($.trim(pk_id)!=''){
                    oper = 'edit';
                }else{
                    oper = 'add';
                }

                objShipType = { shipType : shipType}

                var o_data = { oper : oper, pk_id : pk_id, json: JSON.stringify(thisClass.objProductOrder) };

                //$("#pnlAddEdit").block(blockStyleCSS);
                jQuery.extend(o_data, objTxt, objChk, objSel, objShipType);

                $.ajax({
                                type: "POST",
                                url: url,
                                dataType: "json",
                                //async: false,
                                data:o_data,
                                success: function(data)
                                {
                                    thisClass.hdnID = data.id;
                                    thisClass.clearBlock(oper,data.error);
                                    thisClass.gridReload();
                                    $('#pnlAddEdit').css('position', 'static');
                                },
                                error: function(response) {
                                    thisClass.hdnID = '';
                                    //$('#pnlAddEdit').unblock();
                                    $('#pnlAddEdit').pnlAddEdit("close");
                                    if(isExpire(response.responseText)) return;
                                }
                });

                return true;
            //}else return false
    }

    this.excuteFN = function(ids){
        $(aInfo.grd).jqGrid('setGridParam',{ postData:{ 'oper':'del', 'ids':ids } });
        $(aInfo.grd).trigger("reloadGrid");
    }

    this.jqGrid = function(){
            thisClass.grid = jQuery(aInfo.grd).jqGrid({
                url: this.setGrdParam(),
                datatype: 'json',
                colNames: aInfo.colN,
                colModel: aInfo.colM,
                rowNum:60,
                rowList:[20,40,60],
                pager: jQuery(aInfo.pgrd),
                sortname: aInfo.initSortName,
                viewrecords: true,
                sortorder: "desc",
                caption: aInfo.g_caption,
                editurl: this.setGrdParam(),
                width:$('.pnlContainer').width(),
                height:'auto',
                rownumbers: false,
                multiboxonly: true,
                hoverrows:false,
                loadBeforeSend: function(xhr){
                    thisClass.setInputSize();
                },
                loadError : function(res,st,err) {
                    if(isExpire(res.responseText)) return;
                    thisClass.initialControl();
                },
                loadComplete : function(res) {

                    if($(aInfo.grd).getGridParam('records')>0){
                        var totals = $(aInfo.grd).getGridParam('records');
                        var rowPerPage = $(aInfo.grd).getGridParam('rowNum');
                        var page = $(aInfo.grd).getGridParam("page");
                        if(totals > (rowPerPage*page)){
                            $(aInfo.grd).setGridHeight('auto');
                        }
                        else {
                            if(totals - (rowPerPage*(page-1) ) > 0){
                                $(aInfo.grd).setGridHeight('auto');
                            }
                            else
                             	$(aInfo.grd).setGridHeight('auto');
                        }
                    }
                    else
                    {
                     	$(aInfo.grd).setGridHeight('auto');
                    }

                    thisClass.editData = false;
                    thisClass.setButtonUI('.btnAction');
                    $('.activestatus').addClass('ui-corner-all');
                    $('.activestatus').addClass('ui-state-hover');
                    $('.activestatus').css('background', 'none');
                    $('.activestatus').css('border', 'none');
                    $('.activestatus').css('cursor', 'pointer');
                   thisClass.initialControl();
                   return;
                },
                ondblClickRow:function(id){
                    //thisClass.editAction(id);
                },
                afterInsertRow: function(rowid, rowdata){
                    $('#btnEdit{$variable_el}'+rowid).click(function(){
                        thisClass.editAction(rowid);
                    });

                    $('#btnActive{$variable_el}'+rowid).click(function(){
                        thisClass.editStatus('is_active', rowid);
                    });

                    $('#btnDelete{$variable_el}'+rowid).click(function(){
                        thisClass.editStatus('is_delete', rowid);
                    });
                }
            });
    }

    this.editAction = function(id){
        if(this.isDetail==false){
            var ret = $(aInfo.grd).getRowData(id);
            this.popContainAddEdit('edit', id, ret.group_name);
        }else{
            window.location.href = aInfo.classname.replace(/_/g,'-').toLowerCase() + '?editID='+id;
        }
    }


    this.popContainAddEdit = function (oper, pk_id, title){
        this.blockUI();
        this.closePnlGrid('pnlGrid{$variable_el}');
        this.hdnID = '';

        if(title==undefined)
            title = '';

        this.clearChk();
        this.clearTxt();

        if(oper=='edit'){
            this.hdnID = pk_id;
            $("#masterDetail").show();
            $("#btnExcel{$variable_el}").show();
            $("#btnPdf{$variable_el}").show();
            $("#txt_email").attr("disabled", "disabled");
        }else{
            $("#btnExcel{$variable_el}").hide();
            $("#btnPdf{$variable_el}").hide();
            $("#txt_email").removeAttr("disabled");
        }
        thisClass.resetValidatForm(formId);
        this.loadData();

        $('.noBreadcrumb .label').text(this.breadCrumbLabel + ' - ' + title);
    }

    this.checkCallOutside = function(){
            //reference Out Side
        if(this.refOper=='edit'){
            this.editAction(this.editID);
        }else if(this.refOper=='add')
            $('#btnAdd{$variable_el}').click();

        this.refOper = 'default'; //clear;
        return;
    }

    this.loadData = function(){
        var url = $(aInfo.grd).getGridParam('url');
        $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    data:{ pk_id:thisClass.hdnID, oper:'loadData' },
                    success: function(data){
                        thisClass.bindTxt(data);
                        thisClass.bindChk(data);
                        thisClass.bindSelect(data);
                        if(data.country == null){
                            $("#select_country").val('Thailand');
                        }
                        $("#select_country").multiselect('refresh');

                        $(".orderNumber").text("Ship Detail - Order " + thisClass.hdnID);

                        thisClass.gridOrderDetail(thisClass.hdnID);
                        thisClass.unblockUI();
                        thisClass.editData = true;
                        MGMTKt_Customer.prototype.optSearch = { customerid:data.customer_id }
                        if(grdKt_Customer!=undefined){
                            grdKt_Customer.gridReload();
                        }

                    },
                    error: function(response) {
                            if(isExpire(response.responseText)) return;
                    }
            });
    }

    this.initEvent = function(){
        thisClass.ctrlSave(formId, 'pnlGrid{$variable_el}');
        $("#btnClose{$variable_el}").click(function(){
        	thisClass.openPnlGrid('pnlGrid{$variable_el}');
        });
        $("#btnSave{$variable_el}").click(function() {
        	thisClass.initValidateFormEvent();
            if(thisClass.submitForm){ thisClass.saveData(); }
		});
        $("#btnSaveBack{$variable_el}").click(function() {
            thisClass.initValidateFormEvent();
            if(thisClass.submitForm){
	            if(thisClass.saveData()){
	                thisClass.openPnlGrid('pnlGrid{$variable_el}');
	                thisClass.submitForm = false;
	            }
            }
        });

        $('#btnDelete{$variable_el}').click(function(){
            var ids = jQuery(aInfo.grd).getGridParam('selarrrow');
            if(ids.length == 0){
                showMessage('{$smarty.const.MSG_NOT_SELECT}', true);
                return;
            }
            thisClass.confirmDlg(msg_delconfirm, msg_delcaption, ids);
        });

        this.setButtonUI('.btndiv');
        thisClass.jqGrid();

        thisClass.initValidateForm(formId, rule);

        $(window).resize(this.fitTable);
        this.fitTable();
    }

    thisClass.initEvent();
}

var grd{$variable_el}
jQuery(document).ready(function(){

    grd{$variable_el} = new MGMT{$variable_el}({$aInfo});


});
</script>
