<style>
    .apptxtlgbold{
        font-weight: bold;
    }
</style>
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
        <td class="apptxtlgbold" colspan="2">หลักการตั้งรหัสผ่าน(Password):</td>
    </tr>
    <tr>
        <td></td>
        <td class="apptxtlgbold" colspan="2">ข้อกำหนด:</td>
    </tr>
    <tr>
        <td><img id="pwdLen" name="pwdLen" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ต้องมีความยาวอย่างน้อย 6 ตัวอักษร</td>
    </tr>
    <tr>
        <td><img id="pwdNumber" name="pwdNumber" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ต้องมีตัวเลขอย่างน้อย 1 ตัว</td>
    </tr>

    <tr>
        <td><img id="pwdLower" name="pwdLower" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ต้องมีตัวพิมพ์เล็กอย่างน้อย 1 ตัวอักษร</td>
    </tr>
    <tr>
        <td></td>
        <td class="apptxtlgbold" colspan="2">ข้อห้าม:</td>
    </tr>
    <tr>
        <td><img id="pwdIdenticalChars" name="pwdIdenticalChars" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ห้ามใช้ตัวอักษรหรือตัวเลขซ้ำกันต่อเนื่อง</td>
    </tr>
    <tr>
        <td><img id="pwdSpecialChars" name="pwdSpecialChars" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ห้ามใช้ตัวอักษรพิเศษ</td>
    </tr>
    <tr>
        <td><img id="pwdSequenceD" name="pwdSequenceD" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ห้ามใช้ตัวเลขที่ต่อเนื่องกัน เช่น 123</td>
    </tr>
    <tr>
        <td><img id="pwdSequenceA" name="pwdSequenceA" src="" border="0" height="16" width="16"></td>
        <td class="apptxtsm">ห้ามใช้ตัวอักษรที่ต่อเนื่องกัน เช่น abc</td>
    </tr>
</tbody></table>